@layer theme, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@source "./react";

.neylon-widget-root, .neylon-widget-root * {
  box-sizing: border-box;
}

.neylon-widget-root p,
.neylon-widget-root h1,
.neylon-widget-root h2,
.neylon-widget-root h3,
.neylon-widget-root h4,
.neylon-widget-root h5,
.neylon-widget-root h6,
.neylon-widget-root ul,
.neylon-widget-root ol,
.neylon-widget-root figure {
  margin: 0;
}

.neylon-widget-root button,
.neylon-widget-root input,
.neylon-widget-root textarea,
.neylon-widget-root select {
  font-family: inherit;
  color: inherit;
}
